<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Developer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />	
</head>
<body>
<div class="container">
	<h1>Add diagnose</h1>
	<form th:action="@{/patient/{id}/diagnoses(id=${patient.id})}" method="get" enctype="multipart/form-data" >
	<div class="col-md-4">
		<div class="panel panel-default">
		 <div class="panel-heading">Patient info</div>
		 <div class="panel-body" style="padding-left: 5px;">
			Name: <b th:text="${patient.firstName}" /> <b th:text="${patient.lastName}" /><br/>
			Doctor: <span th:text="${patient.doctor}" /><br/>
			Ward: <span th:text="${patient.ward}" /><br/>
			<br/>Diagnoses:
				<span th:each="diagnose : ${patient.diagnoses}">
					<br/>&nbsp;&nbsp;<span th:text="${diagnose.name}" />
				</span>
				<br/>
				</div>
		</div>	
			<div class="col-md-6">
			<select class="form-control" name="diagnoseId">
				<option th:each="diagnose : ${diagnoses}"
					th:value="${diagnose.diagnoseId}"
					th:text="${diagnose.name}">Diagnose</option>
			</select>
			</div>
			<input type="submit" name="action" class="btn btn-primary" value="Save"></input>
			<input type="submit" name="action" class="btn btn-default" value="Cancel"></input>
	</div>
	</form>
</div>
</body>
</html>