<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Patient list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h3>Filters</h3>
	</div>
	<div class="col-md-7">
		<h3>Doctor List</h3>
	</div>
	<div class="col-md-1" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
	<div class="col-md-4" style="padding:0 20px">
		<form th:action="@{/doctors}">
			<input type="text" class="form-control"
				   placeholder="FIO" th:name="fio"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" class="form-control"
				   placeholder="Post" th:name="post"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" class="form-control"
				   placeholder="Address" th:name="address"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" class="form-control"
				   placeholder="Email" th:name="email"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" class="form-control"
				   placeholder="Telephone Number" th:name="telephoneNumber"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Apply">
		</form>
	</div>
    <div class="col-md-8" style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>FIO</th>
		    <th>Post</th>
		    <th>Address</th>
		    <th>Email</th>
		    <th>Telephone Number</th>
		    <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
		</tr>  
    	<tr th:each = "doctor : ${doctors}">
    		<td th:text="${doctor.fio}"></td>
    		<td th:text="${doctor.post}"></td>
    		<td th:text="${doctor.address}"></td>
    		<td th:text="${doctor.email}"></td>
    		<td th:text="${doctor.telephoneNumber}"></td>
			<td sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')" >
				<a sec:authorize="hasAnyAuthority('ADMIN',)" th:href="@{/edit/doctor/{id}(id=${doctor.id})}" class="btn btn-primary btn-xs">Edit</a>
				<a sec:authorize="hasAnyAuthority('ADMIN',)" th:href="@{/delete/doctor/{id}(id=${doctor.id})}" class="btn btn-danger btn-xs">Delete</a>
			</td>
    	</tr>
    </table>
	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/signup}" class="btn btn-primary">Sign Up New Doctor</a>
	</div>    
</div>
</body>
</html>