<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Patient list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h3>Filters</h3>
	</div>
	<div class="col-md-7">
		<h3>Patients List</h3>
	</div>
	<div class="col-md-1" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
	<div class="col-md-4" style="padding:0 20px">
		<form>
			<input type="text" class="form-control"
				   placeholder="Firstname" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" class="form-control"
				   placeholder="Lastname" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" class="form-control"
				   placeholder="Ward" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" class="form-control"
				   placeholder="Doctor" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="date" class="form-control" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="date" class="form-control" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Apply" >
		</form>
	</div>
    <div class="col-md-8" style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>Doctor</th>
		    <th>Ward</th>
		    <th>Diagnoses</th>
		    <th>Date Of Registration</th>
		    <th>Date Of Discharge</th>
		    <th sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')">Actions</th>
		</tr>  
    	<tr th:each = "patient : ${patients}">
    		<td th:text="${patient.firstName} + ' ' + ${patient.lastName}"></td>
    		<td th:text="${patient.doctor.fio}"></td>
    		<td th:text="${patient.ward}"></td>
    		<td>
				<span th:each="diagnose,iterStat : ${patient.diagnoses}">
					<span th:text="${diagnose.name}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>    		
    		</td>
			<td th:text="${#dates.format(patient.dateOfRegistration, 'dd-MM-yyyy')}"></td>
			<td th:text="${#dates.format(patient.dateOfDischarge, 'dd-MM-yyyy')}"></td>
    		<td sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')" >
    			<a th:href="@{/addPatientDiagnose/{id}(id=${patient.id})}" class="btn btn-primary btn-xs">Diagnose History</a>
    			<a sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')" th:href="@{/edit/doctor/{id}(id=${patient.id})}" class="btn btn-primary btn-xs">Edit</a>
    			<a sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')" th:href="@{/delete/doctor/{id}(id=${patient.id})}" class="btn btn-danger btn-xs">Delete</a>
    		</td>
    	</tr>
    </table>
    <a sec:authorize="hasAuthority('DOCTOR')" href="/add" class="btn btn-primary">Add Patient</a>
	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/signup}" class="btn btn-primary">Sign Up New Doctor</a>
	</div>    
</div>
</body>
</html>